@model WealthHealth.Models.Custom.Account
@{
}
<div id="content-header">
    <h2>Create</h2>
</div> <!-- #content-header -->
<div id="content-container">
    <form method="post">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-2">
                Name
            </div>
            <div class="col-md-10">
                <input class="form-control" data-val="true" data-val-required="The Name field is required." id="" name="Name" type="text" value="">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                Initial Amount
            </div>
            <div class="col-md-10">
                @ViewBag.Error
                <input class="form-control" data-val="true" data-val-required="The Initial Amount field is required." id="" name="Amount" type="text" autocomplete="off" decimalprecision="2" maxlength="14" placeholder="0.00" value="">
            </div>
        </div>
        <input type="hidden" name="HouseholdId" value="@ViewBag.HouseholdId" />
        <input type="submit" value="Create Account" />
    </form>
       </div>
