@model WealthHealth.Models.InviteViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "InviteUser";
}
<div id="content-header">
    <h1>Invite User</h1>
</div> <!-- #content-header -->
<div id="content-container">

        <form method="post">
            @Html.AntiForgeryToken()
            <div >
                <label class="col-md-2">First Name</label>
                <input type="text" class="col-md-10 form-control" name="First" />
            </div>
            <br />
            <div>
                <label class="col-md-2">Last Name</label>
                <input type="text" class="col-md-10 form-control" name="Last" />
            </div>
            <br />
            <div>
                <label class="col-md-2">Email</label>
                <input type="text" class="col-md-10 form-control" name="Email" />
            </div>
            <br />
            <input type="hidden" name="Id" value="@Model.Id" />
            <input type="hidden" name="Sender" value="@User.Identity.GetUserId()" />
            <br />
            <br />
                <input type="submit" value="Send Invite" />
        </form>
</div>