
@{
    ViewBag.Title = "SetKeyword";
}
<div id="content-header">
    <h1>Set Keyword</h1>
</div> <!-- #content-header -->
<div id="content-container">
    <form method="post">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label class="col-md-2">Household Keyword</label>
            <input type="text" class="col-md-10 form-control" name="keyword" />
            <input type="hidden" name="id" value="@ViewBag.Id" />
        </div>
        <input type="submit" value="Set Keyword" />
    </form>
</div>